@media (min-width:800px) {
    .nav_panel {
        height: 80px;
    }

    li {
        font-size: 15px;
        width: calc(5vw + 50px);
    }

    .nav_panel img {
        margin: 10px;

    }

    .section {
        margin: 0 10%;

    }

    .welcome_box {
        height: 100%;
        width: 100%;
    }

    .welcome_message {
        height: 100%;
        width: 100%;
    }
}

@media (max-width:800px) {
    .nav_panel {
        height: 10vw;
    }

    li {
        font-size: 2.5vw;
        width: calc(15vw);
    }

    .nav_panel img {
        margin: 0.7vw 10px;

    }

    .section {
        margin: 0 3vw;

    }

    .welcome_page {
        flex-direction: column;

    }

    .welcome_box {
        flex-grow: 1;
        width: 100%;

    }

    .welcome_message {
        flex-grow: 4;
        width: 100%;

    }
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.welcome_page {
    display: flex;
    justify-content: center;
    align-items: center;

}

.welcome_box {

    background: rgb(255, 227, 208);
    display: flex;
    order: 0;

    justify-content: center;
    align-items: center;
    position: relative;
    perspective: 28vw;
    perspective-origin: center;



}


.welcome_message {
    display: flex;

    order: 1;

    background: rgb(255, 227, 208);
}

.box_side {
    height: 14vw;
    width: 14vw;
    position: absolute;

    opacity: 50%;
    animation: rotate_Y 15s infinite;
    user-select: none;
    font-size: 3vw;


}

@keyframes rotate_Y {
    0% {
        rotate: 0 0 0 360deg;
    }

    25% {
        rotate: 0 1 1 360deg;
    }

    50% {
        rotate: 0 0 0 360deg;
    }

    75% {
        rotate: 1 0 1 360deg;
    }

    100% {
        rotate: 0 0 0 360deg;
    }

    /* turning box elements */

}

.side_top {
    background-color: blueviolet;
    transform: translate3d(0, -7vw, 0) rotateX(90deg);

}

.side_right {
    background-color: rgb(0, 158, 26);
    transform: translate3d(7vw, 0, 0) rotateY(90deg);


}

.side_left {
    background-color: rgb(255, 0, 0);
    transform: translate3d(-7vw, 0, 0) rotateY(90deg);

}

.side_front {
    background-color: rgb(239, 255, 9);
    transform: translate3d(0, 0, 7vw);
    text-align: center;
    line-height: 14vw;

}

.side_back {
    background-color: rgb(252, 164, 0);
    transform: translate3d(0, 0, -7vw);

}

.side_bottom {
    background-color: rgb(1, 26, 255);
    transform: translate3d(0, 7vw, 0) rotateX(90deg);

}

.nav_panel {
    width: 100%;

    position: sticky;
    top: 0;
    background-color: rgb(8, 49, 49);
    box-shadow: 0 3px 8px rgb(59, 59, 59);
    display: flex;
    justify-content: space-between;
}

.nav_panel img {
    margin: 0.7vw 10px;
    -webkit-filter: drop-shadow(0px 0px 10px #ceffa0);
    filter: drop-shadow(0px 0px 10px #ceffa0);
    animation: logo_rotate 30s linear infinite;
}

@keyframes logo_rotate {
    from {
        rotate: 0 0 1 0deg;
    }

    to {
        rotate: 0 0 1 360deg;
    }
}

ul {
    display: flex;
    margin: 0;
    justify-content: end;
    align-items: center;
    height: 100%;
    padding: 0;
    padding-left: 4vw;
}

li {
    background-color: rgb(202, 115, 115);
    list-style: none;
    padding: 0.5vw 1vw;
    border-radius: 5px;

    box-shadow: 0px 0px 20px rgb(209, 115, 115);
    transition: 0.2s;
    cursor: pointer;
    user-select: none;

    text-align: center;
    margin-right: 4vw;

}

.section {


    box-shadow: 0 0 15px rgb(117, 117, 117);
}

.about_me {
    background: rgb(255, 227, 208);
}

.projects {
    background: rgb(255,
            227,
            208);
}

.contacts {
    background: rgb(255,
            227,
            208);
}