@media (min-width:800px) {
    .nav_panel {
        height: 80px;
    }

    li {
        font-size: 15px;
        width: calc(5vw + 50px);
    }

    .nav_panel img {
        margin: 10px;

    }

    .section {
        margin: 0 10%;

    }

    .welcome_box {
        height: 100%;
        width: 100%;
    }

    .welcome_message {
        height: 100%;
        width: 100%;
    }
}

@media (max-width:800px) {
    .nav_panel {
        height: 10vw;
    }

    li {
        font-size: 2.5vw;
        width: calc(15vw);
    }

    .nav_panel img {
        margin: 0.7vw 10px;

    }

    .section {
        margin: 0;

    }

    .welcome_page {
        flex-direction: column;

    }

    .welcome_box {
        flex-grow: 2;
        width: 100%;

    }

    .welcome_message {
        flex-grow: 3;
        width: 100%;

    }
}

body,
html {


    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    position: fixed;
    overscroll-behavior-y: none;
    overscroll-behavior-x: none;
}

.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    -ms-scroll-chaining: none;
    overscroll-behavior: contain;
}

.welcome_page {
    display: flex;
    justify-content: center;
    align-items: center;

}

.welcome_box {

    background: rgb(255, 227, 208);
    display: flex;
    order: 0;

    justify-content: center;
    align-items: center;
    position: relative;
    perspective: 28vw;
    perspective-origin: center;


}


.welcome_message {
    display: flex;

    order: 1;

    background: rgb(255, 227, 208);
    font-size: 30px;
    padding: 0 50px;
    box-sizing: border-box;
    text-align: justify;
    align-items: center;


}

.box_side {
    height: 14vw;
    width: 14vw;
    position: absolute;


    animation: rotate_Y 15s infinite;
    user-select: none;
    font-size: 3vw;
    opacity: 50%;


}

@keyframes rotate_Y {
    0% {
        rotate: 0 0 0 360deg;
        /* opacity: 100%; */
    }

    25% {
        rotate: 0 1 1 360deg;
        /* opacity: 100%; */
    }

    50% {
        rotate: 0 0 0 360deg;
        /* opacity: 100%; */
    }

    75% {
        rotate: 1 0 1 360deg;
        /* opacity: 100%; */
    }

    100% {
        rotate: 0 0 0 360deg;
        /* opacity: 100%; */
    }

    /* turning box elements */

}

.side_top {
    background-color: blueviolet;
    transform: translate3d(0, -7vw, 0) rotateX(90deg);

}

.side_right {
    background-color: rgb(0, 158, 26);
    transform: translate3d(7vw, 0, 0) rotateY(90deg);


}

.side_left {
    background-color: rgb(255, 0, 0);
    transform: translate3d(-7vw, 0, 0) rotateY(90deg);

}

.side_front {
    background-color: rgb(239, 255, 9);
    transform: translate3d(0, 0, 7vw);
    text-align: center;
    line-height: 14vw;
    z-index: 5;
}

.side_back {
    background-color: rgb(252, 164, 0);
    transform: translate3d(0, 0, -7vw);

}

.side_bottom {
    background-color: rgb(1, 26, 255);
    transform: translate3d(0, 7vw, 0) rotateX(90deg);

}

.nav_panel {
    width: 100%;

    position: sticky;
    top: 0;
    background-color: rgb(8, 49, 49);
    box-shadow: 0 3px 8px rgb(59, 59, 59);
    display: flex;
    justify-content: space-between;
}

.nav_panel img {
    margin: 0.7vw 10px;
    -webkit-filter: drop-shadow(0px 0px 10px #ceffa0);
    filter: drop-shadow(0px 0px 10px #ceffa0);
    animation: logo_rotate 30s linear infinite;
}

@keyframes logo_rotate {
    from {
        rotate: 0 0 1 0deg;
    }

    to {
        rotate: 0 0 1 360deg;
    }
}

ul {
    display: flex;
    margin: 0;
    justify-content: end;
    align-items: center;
    height: 100%;
    padding: 0;
    padding-left: 4vw;
}

li {
    background-color: rgb(202, 115, 115);
    list-style: none;
    padding: 0.5vw 1vw;
    border-radius: 5px;

    box-shadow: 0px 0px 20px rgb(209, 115, 115);
    transition: 0.2s;
    cursor: pointer;
    user-select: none;

    text-align: center;
    margin-right: 4vw;

}

.section {


    box-shadow: 0 0 15px rgb(117, 117, 117);
}

.about_me {
    /* background: rgb(255, 227, 208); */
    background-image: url(../img/CompDeskWalCol-2890__059.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}

.projects {
    /* background: rgb(255,
            227,
            208); */
    background-image: url(../img/projects_base_corrected.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.contacts {
    /* background: rgb(255,
            227,
            208); */
    background-image: url(../img/CompDeskWalCol-2890__060.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}