body,
html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    width: 500px;
    box-shadow: 2px 2px 5px rgb(87, 86, 86);
    display: flex;
    position: relative;
    list-style: none;
    flex-direction: column;
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;
    margin: 40px 0;
}

li>p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;

}

li>a {
    text-align: center;
    padding: 5px;
    text-decoration: underline;
    cursor: pointer;
}

span {
    width: 50px;
    height: 50px;
    position: absolute;
    left: -25px;
    top: -25px;
    background-color: chocolate;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
}