@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
    font-weight: 400;

}

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins/Poppins-Medium.ttf);
    font-weight: 500;

}

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins/Poppins-SemiBold.ttf);
    font-weight: 600;

}

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins/Poppins-Bold.ttf);
    font-weight: 700;

}

/* !!!!! Mobile */
@media (max-width:1000px) {

    html,
    body {
        text-align: center;
        box-sizing: border-box;
    }

    h1 {
        color: #2A2B2E;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 48px;
    }

    h2 {
        color: #2A2B2E;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 48px;
    }

    p {
        color: #232427;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: -0.25px;
        margin: 16px 0;
    }

    .section_1 {
        box-sizing: border-box;
        flex-direction: column;
        height: 931px;
        padding: 121px 16px 0 16px;
    }

    .left_side>a {
        top: 24px;
        left: 4.2vw;
    }

    .store_links {

        justify-content: center;
        margin: 26px 0 128px 0;
    }



    /* phone screen */
    .phone>img:nth-child(1) {
        border-radius: 32px;
        width: 210.595px;
        height: 454.883px;
    }


    /* phone outer hull */
    .phone>img:nth-child(2) {
        width: 234.223px;
        height: 475.757px;

    }

    /* bottom-right salad */
    .phone>img:nth-child(3) {
        height: 148px;
        width: 148px;
        top: 388px;
        left: 138px;
    }

    /* top-right sandviches */
    .phone>img:nth-child(4) {
        height: 138px;
        width: 138px;
        top: -55px;
        left: 148px;


    }

    /* left-middle salat */
    .phone>img:nth-child(5) {
        height: 140px;
        width: 140px;
        top: 207px;
        left: -76px;

    }

    /* bottom green leaf */
    .phone>img:nth-child(6) {

        width: 30px;
        top: 465px;
        left: 34px;

    }

    /* left green leaf */
    .phone>img:nth-child(7) {

        width: 24px;
        top: 105px;
        left: -15px;

    }

    /* right midle green leaf */
    .phone>img:nth-child(8) {
        width: 25px;
        top: 300px;
        left: 320px;

    }

    /* right lemon */
    .phone>img:nth-child(9) {
        height: 45px;
        width: 45px;
        top: 121px;
        left: 280px;

    }

    /* left lemon */
    .phone>img:nth-child(10) {
        height: 45px;
        width: 45px;
        top: 450px;
        left: -98px;
    }

    /* dots */
    .phone>img:nth-child(11) {
        height: 96px;
        width: 96px;
        top: -13px;
        left: -48px;

    }

    /* ark */
    .phone>img:nth-child(12) {
        height: 391px;
        width: 126px;
        top: 60px;
        left: 155px;

    }

    .store_links a:nth-child(1) {

        height: 50px;
        width: 154.167px;

    }

    .store_links a:nth-child(2) {
        display: flex;
        margin: 0 0 0 21.8px;
        height: 50px;
        width: 166.67px;

    }

    .section_2 {
        box-sizing: border-box;
        padding: 0 16px 40px 16px;
    }


    /* achievements block */

    .achievements {
        margin-top: 198px;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .achievements>div {
        margin: 33px 0;
        align-items: center;
    }

    .achievements img {
        height: 73.958px;
        width: 29.025px;


    }

    .achievem_body {
        height: 80px;
        width: 128px;
        text-align: center;
        margin: 0 8.44px;
    }

    .achievem_body span {
        font-size: 24px;
        font-weight: 700;
    }

    .achievem_body p:nth-child(1) {
        font-size: 48px;
        font-weight: 700;
        line-height: 32px;
        margin: 18px 0 2px 0;
    }

    .achievem_body p:nth-child(2) {
        font-size: 14px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: -0.25px;
        margin: 4px 0;
    }

    /* first girl */

    .girl_1 {
        align-items: center;
        flex-direction: column;

    }



    .girl_1 .girl_wrapper {
        margin: 50px 0 145px 16px;
    }

    .girl_1_pix {
        height: 334px;
        width: 325px;
        border-radius: 32px;
        background: url("../img/Left_woman/27353680_b220.png") lightgray 0% 40%/ 450px 450px no-repeat;

    }

    /* dots */
    .girl_wrapper svg {
        display: none;
    }

    /* backplate */
    .girl_wrapper div:nth-child(3) {
        width: 249px;
        height: 296px;
        border-radius: 32px;
        top: 56px;
        left: -18px;

    }

    .girl_wrapper .weight {
        border-radius: 24px;
        width: 216px;
        height: 72px;
    }

    .girl_wrapper div:nth-child(4) {
        top: 199px;
        left: 109px;
    }

    .girl_wrapper div:nth-child(5) {
        top: 287px;
        left: 109px;
    }

    .girl_wrapper div:nth-child(6) {
        top: 370px;
        left: 109px;
    }

    .weight {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
    }

    .weight img {
        width: 28px;
        height: 28px;
        margin: 0 12px 0 18px;

    }


    /* second girl */
    .girl_2 {
        flex-direction: column-reverse;
        align-items: center;
        margin: 0;
    }

    .girl_2 .left_box {
        width: 100%;

    }



    .girl_wrapper_2 {
        margin: 116px 0 50px 0;
    }

    /* girl itself */
    .girl_2_pix {
        height: 334px;
        width: 325px;
        border-radius: 32px;
        margin: 0 16px 0 0;
        background: url("../img/Right_women/happy-european-woman-eating-tasty-salad-using-cellphone-kitchen-while-having-dinner-sitting\ 1.png") lightgray 50% / cover no-repeat;

    }

    /* dots */
    .girl_wrapper_2 svg {
        display: none;

    }

    /* backplate */
    .girl_wrapper_2>div:nth-child(3) {
        width: 294px;
        height: 296px;
        border-radius: 32px;
        top: 56px;
        left: 49px;

    }

    /* calories back plate */
    .girl_wrapper_2>div:nth-child(4) {
        height: 166px;
        width: 166px;
        top: -48.33px;
        left: 26.64px;
        z-index: 25;
    }

    /* calories front plate */
    .girl_wrapper_2>div:nth-child(4) div:nth-child(1) {
        height: 115px;
        width: 115px;
    }

    /* 2752 */
    .girl_wrapper_2>div:nth-child(4) div:nth-child(1) p:nth-child(1) {
        font-size: 32px;
        font-weight: 600;
        line-height: 50px;
    }

    /*  Total calories  */
    .girl_wrapper_2>div:nth-child(4) div:nth-child(1) p:nth-child(2) {
        font-size: 12px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: -0.25px;
    }

    /* conic gtardient */
    .girl_wrapper_2>div:nth-child(4) div:nth-child(2) {
        height: 158px;
        width: 158px;
    }

    /* 20% */
    .girl_wrapper_2>div:nth-child(4) div:nth-child(3) {
        width: 48px;
        height: 26px;
        border-radius: 16px;
        top: 13.5px;
        left: 129.06px;
        font-size: 12px;
        font-weight: 500;
        line-height: 22px;
    }

    /* 45% */
    .girl_wrapper_2>div:nth-child(4) div:nth-child(4) {
        width: 48px;
        height: 26px;
        border-radius: 16px;
        top: 135.9px;
        left: 119.08px;
        font-size: 12px;
        font-weight: 500;
        line-height: 22px;

    }

    /* 35% */
    .girl_wrapper_2>div:nth-child(4) div:nth-child(5) {
        width: 48px;
        height: 26px;
        border-radius: 16px;
        top: 49.31px;
        left: -26.64px;
        font-size: 12px;
        font-weight: 500;
        line-height: 22px;
    }

    .section_3 {
        box-sizing: border-box;
        height: 1344px;
        padding: 0 16px 0 16px;

    }

    .happy_users>h1:nth-child(1) {

        margin: 56px 0 16px 0;
    }

    .happy_users>div {
        font-size: 14px;
    }

    .app_store_2 {
        display: flex;
        padding: 32px 0 24px 0;
        justify-content: center;

    }

    .app_store_2 a:nth-child(1) {
        margin: 0 12px 0 0;
    }

    .app_store_2 a:nth-child(1) svg {
        width: 154.167px;

    }

    .app_store_2 a:nth-child(2) svg {
        width: 166.667px;


    }

    /* reviews */
    .reviews {
        flex-direction: column;

    }

    .reviews>div {
        display: flex;
        flex-basis: 33.3%;
        flex-direction: column;
    }

    .reviews>div>div {
        padding: 16px;
        margin: 24px 0 0 0;
    }

    .reviews>div>div>p:nth-child(2) {
        margin: 8px 0 0 0;
        text-align: left;
    }

    .reviews>div>div>p:nth-child(3) {
        margin: 12px 0 0 0;
        text-align: left;
    }


    .left_part>div:nth-child(2) {
        display: none;
    }

    .left_part>div:nth-child(3) {
        display: none;
    }

    .middle_part>div:nth-child(2) {
        display: none;
    }

    .middle_part>div:nth-child(3) {
        display: none;
    }

    .section_4 {
        box-sizing: border-box;
        padding: 0 16px 0 16px;
        height: 655px;
        background: url(../img/phone_bottom.png)lightgray 50% 0%/ cover no-repeat;
    }

    .section_4::after {
        height: 655px;

    }

    .logo {
        height: 88px;
        width: 88px;


        margin: 80px 0 24px 0;

    }

    .store_app_3 {
        margin: 48px 0;
        z-index: 25;
    }

    .store_app_3 a:nth-child(1) {
        margin: 0 16px 0 0;
    }

    .store_app_3 a:nth-child(1) svg {
        width: 154.167px;
    }

    .store_app_3 a:nth-child(2) svg {
        width: 166.667px;

    }

    /* Footer */

    footer {
        height: 304px;

    }

    .upper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 240px;
        padding: 0 4.44vw 0 4.44vw;
    }

    .upper>div {
        display: flex;
        flex-direction: column;
        margin: 32px 0 0 0;
    }

    .upper>div a:nth-child() {
        margin: 0 0 32px 0;
    }

    .lower {
        height: 64px;
    }
}

/* !!!!!!!!!! PC */
@media (min-width:1000px) {
    h1 {
        color: #2A2B2E;
        font-size: 56px;
        font-weight: 700;
        line-height: 72px;
    }

    h2 {
        color: #2A2B2E;
        font-size: 48px;
        font-weight: 700;
        line-height: 62px;
    }

    p {
        color: #535354;
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: -0.25px;
    }

    .section_1 {
        box-sizing: border-box;
        padding: 18px 4.44vw 0 4.44vw;
        height: 1040px;
    }

    .left_side>a {
        top: 40px;
        left: 4.44vw;
    }

    .store_links {


        margin: 56px 0 8px 0;
    }

    .store_links>a {

        margin: 0 24px 0 0;
    }

    .section_1 .left_side * {
        max-width: 528px;
    }

    .section_1 .left_side p {
        font-size: 18px;
    }

    /* phone screen */
    .phone>img:nth-child(1) {
        width: 282.976px;
        height: 611.227px;
        border-radius: 40px;
    }


    /* phone outer hull */


    /* bottom-right salad */
    .phone>img:nth-child(3) {
        height: 200px;
        width: 200px;
        top: 522px;
        left: 173px;
    }

    /* top-right sandviches */
    .phone>img:nth-child(4) {
        height: 185px;
        width: 185px;
        top: -74px;
        left: 199px;


    }

    /* left-middle salat */
    .phone>img:nth-child(5) {
        height: 208px;
        width: 208px;
        top: 279px;
        left: -117px;

    }

    /* bottom green leaf */
    .phone>img:nth-child(6) {
        top: 620px;
        left: 46px;

    }

    /* left green leaf */
    .phone>img:nth-child(7) {
        top: 132px;
        left: -24px;

    }

    /* right midle green leaf */
    .phone>img:nth-child(8) {
        top: 397px;
        left: 407px;

    }

    /* right lemon */
    .phone>img:nth-child(9) {
        top: 163px;
        left: 370px;

    }

    /* left lemon */
    .phone>img:nth-child(10) {
        top: 604px;
        left: -144px;
    }

    /* dots */
    .phone>img:nth-child(11) {
        top: -18.44px;
        left: -64.49px;

    }

    /* ark */
    .phone>img:nth-child(12) {
        top: 90.23px;
        left: 206.67px;

    }

    .section_2 {

        padding: 0 4.44vw 0 4.44vw;
    }

    /* achievements block */

    .achievements {
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding: 0 4.8vw;
        box-sizing: border-box;
    }

    .achievements>div {
        margin: 93px 4.8vw 74px 4.8vw;
    }

    .achievem_body {
        height: 100px;
        text-align: center;
        width: 172px;
        margin: 0 12px;
    }

    .achievem_body span {
        font-size: 32px;
        font-weight: 700;
    }

    .achievem_body p:nth-child(1) {
        font-size: 56px;
        font-weight: 700;
        line-height: 32px;
        margin: 12px 0;
    }

    .achievem_body p:nth-child(2) {
        font-size: 18px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: -0.25px;
        margin: 5px 0;
    }

    /* first girl */
    .girl_1 {
        justify-content: space-between;
    }

    .girl_1 .left_box {
        margin-left: 5.12vw;
        margin-right: 105px;
    }

    .girl_1 .girl_wrapper {
        margin: 69px 0 56px 0;
    }

    .girl_1_pix {
        height: 474px;
        width: 463px;
        border-radius: 40px;
        background: url("../img/Left_woman/27353680_b220.png") lightgray 50% / cover no-repeat;

    }

    .girl_wrapper svg {
        top: 398px;
        left: -74px;
        height: 127.026px;
        width: 127.022px;
    }

    .girl_wrapper div:nth-child(3) {
        width: 435px;
        height: 418px;
        border-radius: 32px;
        top: 88px;
        left: -32px;

    }

    .girl_wrapper .weight {
        border-radius: 24px;
        width: 267px;
        height: 80px;
    }

    .girl_wrapper div:nth-child(4) {
        top: -34px;
        left: 299px;
    }

    .girl_wrapper div:nth-child(5) {
        top: 62px;
        left: 299px;
    }

    .girl_wrapper div:nth-child(6) {
        top: 158px;
        left: 299px;
    }

    .weight {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
    }

    .weight img {
        width: 32px;
        height: 32px;
        margin: 0 12px 0 18px;

    }

    .girl_1 .right_box {
        max-width: 528px;
    }


    /* second girl */
    .girl_2 {
        justify-content: space-between;
    }

    .girl_2 .left_box {
        margin-left: 2.9vw;
        max-width: 560px;
    }

    .girl_2 .right_box {
        margin-right: 3.75vw;
    }

    .girl_wrapper_2 {
        margin: 56px 0 158px 0;
    }

    /* girl itself */
    .girl_2_pix {
        height: 474px;
        width: 463px;
        border-radius: 40px;
        background: url("../img/Right_women/happy-european-woman-eating-tasty-salad-using-cellphone-kitchen-while-having-dinner-sitting\ 1.png") lightgray 75% 65%/ 770px no-repeat;
    }

    /* dots */
    .girl_wrapper_2 svg {
        top: 391px;
        left: 377px;
        height: 140.4px;
        width: 140.394px;
    }

    /* backplate */
    .girl_wrapper_2>div:nth-child(3) {
        width: 433px;
        height: 418px;
        border-radius: 32px;
        top: 88px;
        left: 62px;

    }

    /* calories back plate */
    .girl_wrapper_2>div:nth-child(4) {
        height: 203px;
        width: 203px;
        top: -7px;
        left: -65px;
        z-index: 25;
    }

    /* calories front plate */
    .girl_wrapper_2>div:nth-child(4) div:nth-child(1) {
        height: 140px;
        width: 140px;
    }

    /* 2752 */
    .girl_wrapper_2>div:nth-child(4) div:nth-child(1) p:nth-child(1) {
        font-size: 36px;
        font-weight: 600;
        line-height: 50px;
    }

    /*  Total calories  */
    .girl_wrapper_2>div:nth-child(4) div:nth-child(1) p:nth-child(2) {
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: -0.25px;
    }

    /* conic gtardient */
    .girl_wrapper_2>div:nth-child(4) div:nth-child(2) {
        height: 193px;
        width: 193px;
    }

    /* 20% */
    .girl_wrapper_2>div:nth-child(4) div:nth-child(3) {
        width: 54px;
        height: 32px;
        border-radius: 16px;
        top: 16px;
        left: 155px;
        font-size: 13px;
        font-weight: 500;
        line-height: 22px;
    }

    /* 45% */
    .girl_wrapper_2>div:nth-child(4) div:nth-child(4) {
        width: 54px;
        height: 32px;
        border-radius: 16px;
        top: 163px;
        left: 143px;
        font-size: 13px;
        font-weight: 500;
        line-height: 22px;

    }

    /* 35% */
    .girl_wrapper_2>div:nth-child(4) div:nth-child(5) {
        width: 54px;
        height: 32px;
        border-radius: 16px;
        top: 59px;
        left: -32px;
        font-size: 13px;
        font-weight: 500;
        line-height: 22px;
    }

    .section_3 {
        box-sizing: border-box;
        height: 1088px;
        padding: 0 4.44vw 0 4.44vw;
    }

    .happy_users>h1:nth-child(1) {
        max-width: 808px;
        margin: 76px 0 16px 0;
    }

    .happy_users>div {
        font-size: 16px;
    }

    .app_store_2 {
        padding: 40px 0 32px 0;
    }

    .app_store_2>a {
        margin: 0 12px 0 0;
    }

    /* reviews */


    .reviews>div {
        display: flex;
        flex-basis: 33.3%;
        flex-direction: column;
    }

    .reviews>div>div {
        padding: 24px;
        margin: 32px 16px 0 16px;
    }

    .reviews>div>div>p:nth-child(2) {
        margin: 8px 0 0 0;
    }

    .reviews>div>div>p:nth-child(3) {
        margin: 12px 0 0 0;
    }


    .section_4 {
        box-sizing: border-box;
        padding: 0 3.33vw 0 3.33vw;
        height: 643px;
        background: url(../img/phone_bottom.png)lightgray 50% / cover no-repeat;
    }

    .section_4::after {
        height: 643px;
    }

    .logo {
        margin: 97px 0 16px 0;

    }

    .store_app_3 {
        margin: 48px 0;
        z-index: 25;
    }

    .store_app_3 a:nth-child(1) {
        margin: 0 12px 0 0;
    }

    /* Footer */

    footer {
        height: 224px;

    }

    .upper {
        display: flex;
        justify-content: space-between;
        height: 144px;
        padding: 0 4.44vw 0 4.44vw;
    }

    .upper>div a {
        margin: 0 0 0 67px;
    }

    .lower {
        height: 80px;
    }


}

html,
body {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    font-feature-settings: 'clig' off, 'liga' off;
    font-style: normal;
    box-sizing: border-box;
    overflow-x: hidden;
}

.hide {
    opacity: 0;
    transform: translateY(50px);
    transition: all 1.5s cubic-bezier(0, 0, 0.25, 1.27);
}

body .showed {
    transition: all 1.5s cubic-bezier(0, 0, 0.25, 1.27);
    opacity: 1;
    transform: translateY(0);
}


h1 {
    margin: 0;
}

h2 {
    margin: 0;
}


/* !!!!!!!!! section 1 */
.section_1 {
    display: flex;
    width: 100%;
    position: relative;
    background: #F4F1F2;
}


.left_side {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-basis: 45%;
}

.left_side>a {
    display: flex;
    position: absolute;

}

.fiber_logo {
    width: 143.007px;
    height: 48px;
}

.store_links {
    display: flex;
    width: 100%;

}

.store_links>a {
    display: flex;

}

.right_side {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-basis: 55%;
}

.phone {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone>img {
    display: flex;
    position: absolute;
    filter: drop-shadow(-6px 11px 8px rgba(0, 0, 0, 0.15));
}

/* phone screen */
.phone>img:nth-child(1) {
    z-index: 20;

    filter: drop-shadow(-6px 11px 40px rgba(0, 0, 0, 0.5));
}

/* phone outer hull */
.phone>img:nth-child(2) {
    display: flex;
    position: relative;
    z-index: 20;
}

/* bottom-right salad */
.phone>img:nth-child(3) {
    z-index: 1;
    transform: rotate(300deg);
}

/* top-right sandviches */
.phone>img:nth-child(4) {
    transform: rotate(270deg);

    z-index: 2;

}

/* left-middle salat */
.phone>img:nth-child(5) {


    z-index: 3;
}

/* bottom green leaf */
.phone>img:nth-child(6) {

    z-index: 4;
}

/* left green leaf */
.phone>img:nth-child(7) {

    z-index: 5;
}

/* right midle green leaf */
.phone>img:nth-child(8) {

    z-index: 6;
}

/* right lemon */
.phone>img:nth-child(9) {

    z-index: 7;
}

/* left lemon */
.phone>img:nth-child(10) {

    z-index: 8;
}

/* dots */
.phone>img:nth-child(11) {

    z-index: 9;
}

/* ark */
.phone>img:nth-child(12) {

    z-index: 10;
}

/* !!!!!!!!!!!! Section 2 */
.section_2 {
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    width: 100%;
    display: flex;
}

/* achievements block */
.achievements {
    display: flex;
    box-sizing: border-box;
}

.achievements>div {
    display: flex;
}

.achievem_body {
    height: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;

}

.achievem_body span {
    color: #2A2B2E;
    font-style: normal;

}

.achievem_body p:nth-child(1) {
    color: #2A2B2E;
}

.achievem_body p:nth-child(2) {
    color: #2A2B2E;
    text-align: center;
}

/* first girl */
.girl_1 {
    width: 100%;
    display: flex;
}

.girl_1 .left_box {
    display: flex;
    justify-content: center;
}

.girl_wrapper {
    position: relative;
}

.girl_1_pix {

    position: relative;
    z-index: 20;
}

.girl_wrapper svg {
    position: absolute;
    fill: #D1D893;
    z-index: 5;
}

.girl_wrapper div:nth-child(3) {
    position: absolute;
    background-color: #E1E8A3;
    z-index: 1;
}

.girl_wrapper .weight {
    position: absolute;
    display: flex;
    z-index: 21;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 6px 22px 0px rgba(0, 0, 0, 0.08), 4px 57px 34px 0px rgba(0, 0, 0, 0.05), 7px 100px 40px 0px rgba(0, 0, 0, 0.01), 11px 157px 44px 0px rgba(0, 0, 0, 0.00), -49px 1px 24px 0px rgba(0, 0, 0, 0.05);
}

.girl_wrapper div:nth-child(4) {
    position: absolute;
    z-index: 23;
}

.girl_wrapper div:nth-child(5) {
    position: absolute;
    z-index: 24;
}

.girl_wrapper div:nth-child(6) {
    position: absolute;
    z-index: 25;
}

.weight {
    color: #1F3455;
    letter-spacing: -0.25px;
}



.girl_1 .right_box {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    justify-content: center;


}


/* second girl */
.girl_2 {
    width: 100%;
    display: flex;
}

.girl_2 .left_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.girl_2 .right_box {
    display: flex;

    justify-content: center;
}

.girl_wrapper_2 {
    position: relative;
}

/* girl itself */
.girl_2_pix {

    position: relative;
    z-index: 20;
}

/* dots */
.girl_wrapper_2 svg {
    position: absolute;
    fill: #E7D08E;
    z-index: 5;
}

/* backplate */
.girl_wrapper_2>div:nth-child(3) {
    position: absolute;
    background-color: #F8E19F;
    z-index: 1;
}

/* calories back plate */
.girl_wrapper_2>div:nth-child(4) {
    position: absolute;
    background-color: #FFF;
    border-radius: 50%;
    z-index: 25;
    /* filter: drop-shadow(0px 6px 32px rgba(0, 0, 0, 0.08))
           drop-shadow(4px 57px 34px rgba(0, 0, 0, 0.05)) 
           drop-shadow(-4px 1px 24px rgba(0, 0, 0, 0.05)); */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* calories front plate */
.girl_wrapper_2>div:nth-child(4) div:nth-child(1) {
    position: absolute;
    background-color: #FFF;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

/* 2752 */
.girl_wrapper_2>div:nth-child(4) div:nth-child(1) p:nth-child(1) {
    color: #1F3455;
    text-align: center;
    margin: 0;
}

/*  Total calories  */
.girl_wrapper_2>div:nth-child(4) div:nth-child(1) p:nth-child(2) {
    color: #5D6B83;
    text-align: center;
    margin: 0;
    letter-spacing: -0.25px;
}

/* conic gtardient */
.girl_wrapper_2>div:nth-child(4) div:nth-child(2) {

    position: absolute;
    background: conic-gradient(#FAA151 0deg 80deg, #73B5F0 80deg 235deg, #9989DC 235deg 0deg);
    border-radius: 50%;
    z-index: 19;
}

/* 20% */
.girl_wrapper_2>div:nth-child(4) div:nth-child(3) {
    position: absolute;
    z-index: 30;
    background: var(--grey-0, #FFF);
    box-shadow: 0px 2px 6px 0px rgba(35, 36, 60, 0.14);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #1F3455;
    text-align: center;
    letter-spacing: -0.25px;
}

/* 45% */
.girl_wrapper_2>div:nth-child(4) div:nth-child(4) {
    position: absolute;
    z-index: 30;
    background: var(--grey-0, #FFF);
    box-shadow: 0px 2px 6px 0px rgba(35, 36, 60, 0.14);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #1F3455;
    text-align: center;
    letter-spacing: -0.25px;
}

/* 35% */
.girl_wrapper_2>div:nth-child(4) div:nth-child(5) {
    position: absolute;
    z-index: 30;
    background: #FFF;
    box-shadow: 0px 2px 6px 0px rgba(35, 36, 60, 0.14);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #1F3455;
    text-align: center;
    letter-spacing: -0.25px;
}

.section_3 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background: #F4F1F2;

}

.happy_users {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.happy_users>h1:nth-child(1) {
    text-align: center;
    display: flex;

}

.happy_users>div {
    display: flex;
    flex-direction: row;
    color: #2A2B2E;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.25px;
}

.five_stars {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 48px;
    height: 32px;
    border-radius: 32px;
    background: #FAA562;
    margin: 0 8px;
}

.five_stars div {
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -0.25px;
    text-align: center;
}

.five_stars svg {
    margin: 0 0 0 5px;
    width: 14px;
    height: 14px;
}

/* reviews */
.reviews {
    box-sizing: border-box;
    width: 100%;
    overflow-y: hidden;
    display: flex;
}

.reviews>div {
    display: flex;
    flex-basis: 33.3%;
}

.reviews>div>div {
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 23px 35px 0px rgba(166, 171, 189, 0.16);
}



.reviews>div>div>p:nth-child(3) {
    color: #2A2B2E;
    font-weight: 600;

}

.reviews>div>div>div {
    display: flex;
    justify-content: space-between;
}

.gradient {
    position: absolute;
    width: 100%;
    height: 369px;
    background: linear-gradient(#f4f1f200, #F4F1F2);
    z-index: 20;
    bottom: 0;
}

/* section 4 */

.section_4 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section_4::after {
    content: '';
    width: 100%;

    top: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.80);
    z-index: 0;
}

.logo {

    z-index: 15;

}

.section_4>h1 {
    color: #FFF;
    text-align: center;
    z-index: 20;
    margin: 16px 0;
    max-width: 808px;

}

.section_4>p {
    color: #FFF;
    text-align: center;
    margin: 0;
    z-index: 30;
    max-width: 664px;

}

.store_app_3 {

    z-index: 25;
}



/* Footer */
footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #171717;
}

.upper {
    display: flex;
    align-items: center;
}

.upper>div a {
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.25px;

}

.lower {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    border-top: 1px solid rgba(255, 255, 255, 0.10);


}

.lower>p {

    display: flex;

    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: -0.25px;
}